html,

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bg-switcher {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav ul {
    position: fixed;
    top: 0px;
    right: 20px;
}

nav li {
    display: inline-block;
    margin: 20px 10px;
}

nav a {
    text-decoration: none;
    color: #731d1d;
    font-size: 24px;
    font-family: "didot";
}

nav a:hover {
    color: #726242;
    transition: 0.5s;
}

h1 {
    color: #731d1d;
    font-family: "didot";
    font-size: 50px;
    text-align: center;
    padding: 40px;
}

p {
    font-size: 20px;
}

section {
    padding: 60px 0px;
}

.news {
    background-color: #f2e9d7;
}

.reblogCard {
    float: left;
    margin: 5px;
    display: block;
}

.reblog {
    width: 1300px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: #726242;
    font-family: "didot";
    font-size: 30px;
}

.about h2 {
    padding: 20px 0px;
}

.about p {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
}

.slick {
    margin: 50px auto;
    width: 80%;
}

.slick img {
    height: auto;
    width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.explaination {
    width: 1000px;
    margin: 40px auto;
    padding: 40px 0px;
}

h3 {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
    font-size: 25px
}

.information {
    overflow: hidden;
    background-color: #f2e9d7;
}

.information img {
    float: left;
    margin: 20px;
}

.information p {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
}

.information_bigbox {
    width: 780px;
    margin: 0 auto;
}

.koushi {
    width: 400px;
    float: left;
    margin: 20px;
}

.koushi h3 {
    padding: 20px;
}

.garally img {
    width: 250px;
}

.garally img:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s all;
    opacity: 0.7;
    overflow: hidden;
}

.instagram {
    width: 1300px;
    margin: 0 auto;
}

.instagram_elements {
    text-align: center;
}


.reservation {
    background-color: #f2e9d7;
}

.reservation p {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
}

.reservation a {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
}

.ressons {
    width: 1000px;
    margin: 0 auto;
}

.price {
    color: #731d1d;
    font-size: 24px;
}

.form {
    text-align: center;
}

.form a {
    padding: 20px 40px;
    border-radius: 15px;
    color: #fff;
    background-color: #726242;
    text-decoration: none;
    font-size: 20px;
}

.map {
    width: 600px;
    margin: 0 auto;
}

.access p {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
    text-align: center;
}

footer {
    color: #731d1d;
    font-family: "didot";
    text-align: center;
    background-color: #f2e9d7;
    padding: 20px;
}
