html,

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bg-switcher {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 100vw;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    padding: 0px 20px;
    background-color: rgba(242, 233, 215, 0.5);
    text-align: right;
}

nav li {
    display: inline-block;
    margin: 20px 10px;
}

nav a {
    text-decoration: none;
    color: #731d1d;
    font-size: 24px;
    font-family: "didot";
    transition: 0.5s;
    position: relative;
}

/*
nav a:hover {
    color: #726242;
}
*/

nav a::after {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #731d1d;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

nav a:hover::after {
    transform: scale(1, 1);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.title_pc img {
    width: 700px;
}

.title_sp img {
    display: none;
}

.title p {
    text-align: center;
    color: #731d1d;
    padding: 40px;
    font-size: 25px;
}

.sub-title p {
    color: #726242;
    padding: 20px;
    font-size: 20px;
}

h1 {
    color: #731d1d;
    font-family: "didot";
    font-size: 50px;
    text-align: center;
    padding: 40px;
}

p {
    font-size: 20px;
    font-family: a-otf-ryumin-pr6n, serif;
}

section {
    padding: 120px 10px;
}

.news {
    background-color: #f2e9d7;
}

.reblog {
    width: 85vw;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.reblogCard {
    width: 49%;
    float: left;
    margin: 5px;
    display: block;
}

h2 {
    color: #726242;
    font-family: "didot";
    font-size: 30px;
}

.about h2 {
    font-size: 35px;
    padding: 20px 0px;
}

.about p {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
}

.slick {
    margin: 20px auto;
    width: 100%;
}

.slick img {
    height: auto;
    width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.explaination {
    width: 1000px;
    margin: 40px auto;
    padding: 40px 0px;
}

h3 {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
    font-size: 25px
}

.information {
    overflow: hidden;
    background-color: #f2e9d7;
}

.information img {
    float: left;
    margin: 40px;
}

.information p {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
}

.information_bigbox {
    width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.6);
    overflow: hidden;
}

.koushi {
    width: 500px;
    float: left;
    padding: 20px;
}

.koushi h3 {
    font-size: 35px;
    padding: 20px;
}

.koushi img {
    width: 40px;
    margin: 10px 0px;
    float: left;
}

.koushi p {
    padding: 30px 0px;
}

.koushi_contact {
    overflow: hidden;
}


.koushi_contact p {
    padding: 10px 20px;
    float: left;
}

.koushi_contact a {
    color: #726242;
    text-decoration: none;
    position: relative;
}

.koushi_contact a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #726242;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

.koushi_contact a:hover::after {
    transform: scale(1, 1);
}

.garally img {
    width: 250px;
    transition: 0.3s;
}

.garally img:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.7;
    overflow: hidden;
}

.instagram {
    width: 90%;
    margin: 0 auto;
}

.instagram_elements {
    text-align: center;
}


.reservation {
    background-color: #f2e9d7;
}

.reservation p {
    color: #726242;
    font-family: a-otf-ryumin-pr6n, serif;
}

.ressons {
    width: 1000px;
    margin: 0 auto 40px;
}

.ressons h3 {
    border-left: 10px solid #726242;
    padding-left: 10px;
    margin: 40px 0px 10px 0px;
}

.resson_element {
    padding: 20px 0px;
}

.plus {
    padding-left: 90px;
}

.resson_detail {
    text-align: left;
}

.resson_detail a {
    color: #731d1d;
    font-family: a-otf-ryumin-pr6n, serif;
    text-align: right;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 20px 0px;
    font-size: 18px;
}

.resson_detail a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #731d1d;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

.resson_detail a:hover::after {
    transform: scale(1, 1);
}

.price {
    color: #731d1d;
    font-size: 24px;
}

#price_explaination {
    text-align: right;
    font-size: 15px;
    border-bottom: 1px solid #726242;
    padding-bottom: 5px;
}

.form {
    text-align: center;
    margin: 40px;
}

.form a {
    padding: 20px 40px;
    border-radius: 15px;
    color: #fff;
    background-color: #726242;
    text-decoration: none;
    font-size: 20px;
    font-family: a-otf-ryumin-pr6n, serif;
    transition: 0.3s;
}

.form a:hover {
    color: #726242;
    background-color: #fff;
}

.map {
    width: 600px;
    margin: 0 auto;
}

.access {
    text-align: center;
}

#access_pc img {
    padding: 40px 40px 40px 120px;
    width: 80%;
}

#access_sp img {
    display: none;
}

footer {
    color: #731d1d;
    font-family: "didot";
    text-align: center;
    background-color: #f2e9d7;
    padding: 20px;
}

@media screen and (max-width: 480px) {

    body {
        width: 100vw;
    }

    header {
        width: 100vw;
    }

    .title {
        width: 370px;
    }

    .title_pc img {
        display: none;
    }
    
    .title_sp img {
        display: block;
        margin: 0 auto;
    }

    .title p {
        font-size: 17px;
    }
    
    .humberger {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
    }

    .nav_toggle {
        display: block;
        position: relative;
        width: 3rem;
        height: 1.5rem;
    }

    .nav_toggle i {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #726242;
        position: absolute;
        transition: transform .5s, opacity .5s;
    }

    .nav_toggle i:nth-child(1) {
        top: 0;
    }

    .nav_toggle i:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .nav_toggle i:nth-child(3) {
        bottom: 0;
    }

    .nav_toggle.show i:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }

    .nav_toggle.show i:nth-child(2) {
        opacity: 0;
    }

    .nav_toggle.show i:nth-child(3) {
        transform: translateY(-12px) rotate(45deg);
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s, visibility .5s;
        background-color: #f2e9d7;
        z-index: 1;
    }

    .nav.show {
        opacity: 1;
        visibility: visible;
    }

    .sub-title p {
        font-size: 16px;
    }
    
    .nav ul {
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    
    .nav li {
        display: block;
        padding: 20px;
        text-align: center;
    }
    
    .nav a {
        margin: 0 auto;
    }

    h1 {
        font-size: 35px;
    }

    .reblog {
        width: 90vw;
        margin: 0 auto;
        padding-right: 10px;
    }

    .reblogCard {
        width: 100%;
        float: none;
    }

    .explaination {
        width: 90vw;
        margin: 0px;
        padding: 10px;
    }
    
    .explaination h2 {
        font-size: 25px;
    }
    
    .explaination p {
        font-size: 15px;
    }
    
    .explaination_content {
        width: 330px;
        margin: 0 auto;
    }

    .slick {
        width: 330px;
    }
    
    .resson_detail {
        text-align: center;
    }
    
    .resson_detail a {
        text-align: center;
        font-size: 12px;
/*
        background-color: #f2e9d7;
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
*/
    }

    .information {
        overflow: hidden;
    }

    .information_bigbox {
        width: 90vw;
        position: relative;
    }
    
    .koushi_image {
        text-align: center;
    }

    .koushi_image img {
        width: 280px;
        float: none;
        margin: 40px auto;
    }

    .koushi {
        width: 90%;
        float: none;
        padding: 0px;
        padding-bottom: 60px;
        text-align: center;
        margin: 0 auto;
    }

    .koushi p {
        max-width: 350px;
        font-size: 15px;
        margin: 0 auto;
        text-align: left;
    }
    
    .koushi h3 {
        font-size: 25px;
        text-align: center;
    }
    
    .koushi img {
        width: 30px;
        margin: 7px 0px;
    }
    
    .koushi_contact {
        width: 330px;
        margin: 0 auto;
    }

    .koushi_contact p {
        width: 50%;
        margin: 0px;
    }

    .instagram {
        width: 320px;
    }

    .instagram_elements img {
        width: 150px;
    }

    #ballet {
        display: none;
    }

    #bag {
        display: none;
    }

    #hand {
        display: none;
    }

    #lavender {
        display: none;
    }

    #miniture {
        display: none;
    }

    #pink {
        display: none;
    }

    .ressons {
        width: 90vw;
    }
    
    .resson_element h3 {
        font-size: 25px;
    }
    
    .resson_element p {
        font-size: 15px;
    }
    
    #price_explaination {
        font-size: 10px;
        border: none;
    }

    .map {
        width: 90vw;
    }

    .map iframe {
        width: 90vw;
    }

    #access_pc img {
        display: none;
    }
    
    #access_sp img {
        display: block;
        width: 350px;
        margin: 0 auto;
        padding-top: 20px;
    }
}
